@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2C2F33; /* Discord chat color */
  --foreground: #000000; /* Text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background-color: #ffffff; /* White background for cards */
  border-radius: 0.5rem; /* Optional: Add some border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
